Source: mark-my-words
Section: video
Priority: optional
Maintainer: Cody Garver <codygarver@gmail.com>
Build-Depends: cmake,
               debhelper (>= 9),
               libwebkit2gtk-3.0-dev,
               libgtk-3-dev,
               valac (>= 0.26),
               libgtksourceview-3.0-dev (>= 3.10)
Standards-Version: 3.9.6
Homepage: https://github.com/voldyman/MarkMyWords

Package: mark-my-words
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends}
Pre-Depends: dpkg (>= 1.15.6)
Description: markdown editor
 A minimal markdown editor.
