[Desktop Entry]
Name=Mark My Words
GenericName=Markdown Editor
Comment=A clean and simple markdown editor
Categories=GTK;Utility;TextEditor;GNOME;
Exec=mark-my-words %U
Icon=accessories-text-editor
Terminal=false
Type=Application
X-GNOME-Gettext-Domain=mark-my-words
Keywords=Edit;Text;Markdown;html;
MimeType=text/x-markdown;
